<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Paper VIT</title>
  </head>
  <body>
    <form action="http://localhost:50/papers/subjects" method="POST">
      Subject : <input type="text" name="sub" /><br />
      Course Code : <input type="text" name="code" /><br />
      shortform : <input type="text" name="shortform" /><br />
      cat1 : <input type="text" name="cat1" /><br />
      cat2 : <input type="text" name="cat2" /><br />
      fat : <input type="text" name="fat" /><br />
      <br />
      <input type="submit" value="Upload your files" />
    </form>
  </body>
</html>
